@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.custom-gradient {
  background: radial-gradient(
    59.84% 59.84% at 50% 40.16%,
    rgba(193, 224, 255, 0.2) 0%,
    rgba(48, 143, 239, 0.2) 100%
  );
}

.OurServices-gradient {
  background: radial-gradient(
    54.83% 68.4% at 48.99% 48.53%,
    #f1faff 0%,
    #fff7ee 100%
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .poppins {
    font-family: var(--font-poppins);
  }
}
@layer utilities {
  .inter {
    font-family: var(--font-inter);
  }
}
@layer utilities {
  .noto {
    font-family: var(--font-noto);
  }
}
@layer utilities {
  .montserrat {
    font-family: var(--font-montserrat);
  }
}
@layer utilities {
  .figtree {
    font-family: var(--font-figtree);
  }
}
